customtkinter
sounddevice
numpy
vosk
openai-whisper
webrtcvad-wheels
Pillow
transformers
torch --index-url https://download.pytorch.org/whl/cu118
sentencepiece
psutil
transformers>=4.30.0
torch>=2.0.0
sentencepiece
tqdm
requests
python-pptx
reportlab
huggingface-hub
