customtkinter
sounddevice
numpy
vosk==0.3.44
openai-whisper
webrtcvad-wheels
Pillow
transformers>=4.30.0
torch>=2.0.0
sentencepiece
psutil
tqdm
requests
python-pptx
reportlab
huggingface-hub
llvmlite>=0.40.0
